
h1 {

    font-family: "Questa Grande", "Palatino Linotype", serif;
    font-size: 40px;
    #text-align: center;

    #display:block;
    #background-color: #c21f1f;
    color: black;
    #padding: 15px;
    #margin:0px;
    }

h2 {
    font-family: "Questa Grande", "Palatino Linotype", serif;
    font-size: 24px;
    font-weight:bold;
}

#title {
    display:block;
    #width:100%;
    margin:auto;
    background-color: #c21f1f;
}

.title {
    width:100%;
    background-color: #c21f1f;
}

img {
    max-width:100%;
    height:auto;
    z-value:-1;
    }

.selectArea {
    background-color:white;
    position:absolute;
    top: 30%;
    left:38%;
    padding:20px;
    border-radius:15px;

    font-family:
    font-family: "Questa Grande", "Palatino Linotype", serif;
    font-size: 24px;
    font-weight:bold;
}



.cardContainer {
    width:49%;
    height:600px;
    #position:relative;
    display:inline-block;
}

.mapContainer {
    border: 2px solid #039C31;
    width:49%;
    height:600px;
    #position:relative:
    display:inline-block;
    float:right;
}

.restaurantCard {
    border: 2px solid #039C31;
    width:200px;
    height:100px;
    margin:20px;
    padding:20px;
    float:left;
}

.login {
    display:block;
    text-align:center;
    #width:100%;
    margin:auto;
    background-color: #c21f1f;
}

#headerlogin {
    color:#ffffff;
}