<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>addMember</title>

    <link rel="stylesheet" type="text/css" href="../static/indexPage.css" th:href="${'/indexPage.css'}">
</head>
<body>

<div class="title">
    <span><a href="/">Tillbaka till startsida</a></span>
    <br><span th:if="${session.username == null}"><a href="/login">Logga in</a></span>
    <span th:if="${session.username != null}"><a href="/logout">Logga ut</a></span>
    <br><span th:if="${session.username != null}"><a href="/addRestaurant">Lägg till restaurang</a></span>


    <img src="../static/blimedlem.jpg" id="title" th:src="${'/blimedlem.jpg'}">
</div>

<p>
<div class="memberForm">

    <form action="/addMember" method="POST" th:object="${member}">
    <input type="text" placeholder="Ditt namn" th:field="*{anvandarNamn}" th:errorclass="fieldError" /> <span th:if="${#fields.hasErrors('anvandarNamn')}"> Användarnamnet måste vara minst 5 tecken långt.</span><br>
        <input type="text" placeholder="Lösenord" th:field="*{losenord}" th:errorclass="fieldError"/><span th:if="${#fields.hasErrors('losenord')}">Lösenordet måste vara mellan 5 och 30 tecken långt.</span><br>
    <input type="text" placeholder="Email" th:field="*{emailAdress}" th:errorclass="fieldError" /><span th:if="${#fields.hasErrors('emailAdress')}"> Skriv en giltig e-postadress.</span><br>
        <br>
        <input type="submit" value="Bli medlem">


    </form>
<p></p>
    <span th:if="${memberExists!=null}">Det finns redan en användare med detta användarnamn. Försök igen. </span>



<div class="memberConfirmation" th:if="${noErrors!=null}"><h2>Välkommen som medlem!</h2>
<a href="/">Tillbaka till startsidan</a>
<a href="/addRestaurant">Lägg till restaurang</a></div>

</div>










</body>
</html>
