<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>addMember</title>

    <link rel="stylesheet" href="../static/indexPage.css" th:href="'/indexPage.css'">
</head>
<body>

<div class="title">
    <span><a href="/">Tillbaka till startsida</a></span>
    <br><span th:if="${session.username == null}"><a href="/login">Logga in</a></span>
    <span th:if="${session.username != null}"><a href="/logout">Logga ut</a></span>
    <br><span th:if="${session.username != null}"><a href="/addRestaurant">Lägg till restaurang</a></span>


    <img src="../static/blimedlem.jpg" id="title" th:src="${'/blimedlem.jpg'}">
</div>

<p>
<div class="memberForm">
    <form action="/addMember" method="POST" th:object="${member}">
    <input type="text" placeholder="Ditt namn" th:field="*{anvandarNamn}"/><span th:if="${#fields.hasErrors('anvandarNamn')}"> Skriv minst fem tecken</span> <br>
        <input type="text" placeholder="Lösenord" th:field="*{losenord}"/><span th:if="${#fields.hasErrors('emailAdress')}">Skriv ett lösenord som är mellan 5 och 30 tecken långt.</span><br>
    <input type="text" placeholder="Email" th:field="*{emailAdress}"/>  <span th:if="${#fields.hasErrors('emailAdress')}"> Skriv en giltig e-postadress.</span><br>
    <input type="submit" value="Bli medlem">


</form>


<br>





</body>
</html>
