<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/indexPage.css" th:href="'/indexPage.css'">
    <title>Bokning</title>
</head>

<STYLE>A {text-decoration: none;} </STYLE>

<body>
<div class="booking">
    <span><a href="/">Tillbaka till startsida</a></span>
     <center> <img src="../static/bokaBord.jpg" th:src="${'/bokaBord.jpg'}"></center></div>

<br><br><br>
<div class ="select">
    <center><form action="/booking" method="POST" th:object="${booking}">

        Personer: <select th:field="*{people}">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
</select>


    Dag: <select th:field="*{day}">
    <option value="2019-11-22">2019-11-22</option>
    <option value="2019-11-23">2019-11-23</option>
    <option value="2019-11-24">2019-11-24</option>
    <option value="2019-11-25">2019-11-25</option>
    <option value="2019-11-26">2019-11-26</option>
    <option value="2019-11-27">2019-11-27</option>
    <option value="2019-11-28">2019-11-28</option>
    <option value="2019-11-29">2019-11-29</option>
    <option value="2019-11-30">2019-11-30</option>
    <option value="2019-12-01">2019-12-01</option>
</select>


    Välj tid: <select th:field="*{time}">
    <option value="11:30">11:30</option>
    <option value="12:30">12:30</option>
    <option value="17:00">17:00</option>
    <option value="17:30">17:30</option>
    <option value="18:00">18:00</option>
    <option value="19:00">19:00</option>
    <option value="19:30">19:30</option>
    <option value="20:00">20:00</option>
    <option value="20:30">20:30</option>
    <option value="21:00">21:00</option> <br>
</select>
    </br>


<h2>Avsluta reservation</h2>

    Namn:<br>
    <input id="namn" th:field="*{firstname}"type="Namn" placeholder="Namn (obligatoriskt)">
    <br>
    Efternamn:<br>
    <input id="efternamn" th:field="*{lastname}"type="tel" placeholder="Efternamn (obligatoriskt)">
    <br>
    E-post:<br>
    <input id="e-post" th:field="*{email}"type="tel" placeholder="e-post (obligatoriskt)">
    <br>
    Telefonnummer: <br>
    <input id="telNo" th:field="*{phonenumber}" type="tel" placeholder="telefonnummer">
     <br>

    <input type="submit" value="Boka"/> <br>

</form>
</center></div>



</body>
</html>