<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/indexPage.css" th:href="'/indexPage.css'">
    <title>Bekräftelse</title>


</head>

<body>
<div class="confirmation">
    <span><a href="/">Tillbaka till startsida</a></span>
    <center> <img src="../static/bekraftelse.jpg" th:src="${'/bekraftelse.jpg'}"></center></div>

<center>

    <h3 Bookningsbekräftelse> </h3> <br> <br>

        <h2 th:text="${'Tack för din bokning ' + booking.firstname} + ' !'"></h2><br><br>
    <div class="bekraft">
        <span th:text="${'Antal personer: ' + booking.people}" ></span> <br><br>
        <span th:text="${'Du har bokat bord den : ' + booking.day}" ></span> <br><br>
        <span th:text="${'Klockan: ' + booking.time}" ></span> <br><br>

        <span th:text="${'Bekräftelse skickas till: ' + booking.email}" ></span> <br><br>

    </div>
</center>

</body>
</html>