<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:Access-Control-Allow-Origin="*">
<head>
    <meta charset="UTF-8">
    <title>startPage</title>
    <Access-Control-Allow-Origin: *></Access-Control-Allow-Origin:>

    <link rel="stylesheet" href="../static/indexPage.css" th:href="'/indexPage.css'">
    <script type="text/javascript" src="script.js"></script>

</head>
<STYLE>A {text-decoration: none;} </STYLE>
<div>

<div class = "front">

</div>

<div class="title">
    <span th:if="${session.username == null}"><a href="/login">Logga in</a></span>
    <span th:if="${session.username != null}"><a href="/logout">Logga ut</a></span>
    <br><span th:if="${session.username != null}"><a href="/addRestaurant">Lägg till restaurang</a></span>
    <img src="../static/title.jpg" id="title" th:src="${'/title.jpg'}">
</div>




<img src="../static/bakgrund_malmo_smalare.jpg" class="backgroundImage" th:src="${'/bakgrund_malmo_smalare.jpg'}">


<form action="/mapChange" method="post" class="selectArea">
    Var vill du äta julbord?
    <select id="showMapFocus" name="mapChange">
        <option value="gamlaVaster">Gamla Väster</option>
        <option value="Carolikvarteren">Carolikvarteren</option>
        <option value="Davidshall">Davidshall</option>
        <option value="Slottsstaden">Slottsstaden</option>
        <option value="Mollevangen">Möllevången</option>
        <option value="Radmansvangen">Rådmansvången</option>
        <option value="Slussen">Slussen</option>
        <option value="Varnhem">Värnhem</option>

    </select>

    <button type="button" onclick="GetSelectedValue(); smoothScroll(document.getElementById('second'))">Get Selected Value</button>

</form>



<div class="cardContainer" id="second">
    <h2>Malmös högst rankade julbord just nu:</h2>

    <form id="checkboxes" action="/filter_restaurants" method="post">
        <input type="checkbox" name="stroller" value="true">Visa endast barnvagnsvänliga
        <input type="checkbox" name="wheelchair" value="true">Visa endast rullstolsvänliga
        <input type="submit" value="Filtrera">



    </form>

    <div th:each="restaurant:${restaurants}">
        <div class="restaurantCard">
            <a th:href="${'/view?id=' + restaurant.id}" class="cardLink" th:text="${restaurant.name}"></a> <br>
            <span th:text="${restaurant.description}"></span> <br>
            <span th:each="tomte:${restaurant.tomtar}">🎅</span>
            <span th:text="${restaurant.tomterating}"></span><br>
            <img src="../static/barnvagns_ikon.jpg" th:if="${restaurant.strollerOk}" th:src="${'/barnvagns_ikon.jpg'}">
            <img src="../static/rullstol.jpg" th:if="${restaurant.wheelchairOk}" th:src="${'/rullstol.jpg'}">

        </div>





    </div>

    <!--
        <div class="restaurantCard">Restaurant 1</div>
        <div class="restaurantCard">Restaurant 2</div>
        <div class="restaurantCard">Restaurant 3</div>
    -->
    </div> <!-- end of cardContainer-->

<div class="mapContainer" id="googleMap"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbJOvuSQIBXS0IpOR-y16oLoByabvW-_k&callback=myMap"></script>

    </body>
    </html>
