<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>startPage</title>

    <link rel="stylesheet" href="../static/indexPage.css" th:href="'/indexPage.css'">

</head>
<body>

<div class = "front">
    <span><a href="/login">Login</a></span><br>
    <span><a href="/addRestaurant">Add Restaurant</a></span>
</div>

<div class="title">
    <img src="../static/title.jpg" id="title" th:src="${'/title.jpg'}">
</div>




<img src="../static/bakgrund_malmo_smalare.jpg" class="backgroundImage" th:src="${'/bakgrund_malmo_smalare.jpg'}">


<form action="/mapChange" method="post" class="selectArea">
    Var vill du äta julbord?
    <select>
        <option>Centrum</option>
        <option>Slottsstaden</option>
        <option>Värnhem</option>
        <option>Hyllie</option>
        <option>Lorensborg</option>

    </select>

</form>



<div class="cardContainer">
    <h2>Malmös högst rankade julbord just nu:</h2>

    <form action="/filter_restaurants" method="post">
        <input type="checkbox" name="stroller">Visa endast barnvagnsvänliga
        <input type="checkbox" name="wheelchar">Visa endast rullstolsvänliga



    </form>

    <div class="restaurantCard" th:each="restaurant:${restaurants}" th:text="${restaurant.name}">This should be replaced by restaurant names</div>


    <div class="restaurantCard">Restaurant 1</div>
    <div class="restaurantCard">Restaurant 2</div>
    <div class="restaurantCard">Restaurant 3</div>

</div>

<div class="mapContainer">
    Place map here
</div>

</body>
</html>
