<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="indexPage.css">
    <title>Login</title>
</head>


    <div class="login">
        <span><a href="/">Back to Home page</a></span>
        <center><h1 id="headerlogin"> Login page</h1></center></div>
   <center><form action="/login" method="POST">
        <input type="text" name="username" placeholder="username"/>
        <input type="password" name="password" placeholder="password"/>
        <input type="submit" value="login"/>
    </form>
</center>
<body>

</body>
</html>