<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/indexPage.css" th:href ="'/indexPage.css'">
    <title>Logga in</title>


</head>
<STYLE> {text-decoration: none;} </STYLE>
<body>

    <div class="login">
        &nbsp;<span><a href="/">Tillbaka till startsidan</a></span>
        <center><h1 id="headerlogin"> Logga in</h1></center></div>

   <center><form action="/login" method="POST">
        <input type="text" name="username" placeholder="username"/>
        <input type="password" name="password" placeholder="password"/>
        <input type="submit" value="Logga in"/>
    </form>
</center>

</body>
</html>
