<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/indexPage.css" th:href ="'/indexPage.css'">
    <title>Login</title>
</head>
<STYLE>A {text-decoration: none;} </STYLE>


    <div class="login">
        <span><a href="/">Back to Home page</a></span>
        <center><h1 id="headerlogin"> Login page</h1></center></div>

   <center><form action="/login" method="POST">
        <input type="text" name="username" placeholder="username"/>
        <input type="password" name="password" placeholder="password"/>
        <input type="submit" value="login"/>
    </form>
</center>

<body>

</body>
</html>