<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/indexPage.css" th:href="'/indexPage.css'">
    <title>MyBookings</title>
</head>
<body>
<div class="confirmation">
    &nbsp;<span><a href="/">Tillbaka till startsida</a></span>
    <center><img src="../static/bekraftelse.jpg" id="confirmationTitle" th:src="${'/bekraftelse.jpg'}"></center>
</div>

<center>
    <div th:if="${myBooking.people != 0}">
        <p>Du är bokad för <span th:text="${myBooking.people}"></span> personer.</p>
        <p>På resturangen <span th:text="${myBooking.restaurant}"></span>.</p>
        <p>För mer into gå till <span th:text="${myBooking.restaurantLank}"></span></p>
        <p>Datum: <span th:text="${myBooking.day}"></span></p>
        <p>Klockan: <span th:text="${myBooking.time}"></span></p>
        <p>Vänligen uppge <span th:text="${myBooking.email}"></span> när ni kommer till resturangen</p>
        <p>eller <span th:text="${myBooking.phonenumber}"></span></p>
    </div>

    <div th:if="${myBooking.people == 0}">
        <span>Du har inga bokningar!</span>
    </div>

</center>

</body>
</html>