<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/indexPage.css" th:href="'/indexPage.css'">
    <title>MyBookings</title>
</head>
<STYLE>A {text-decoration: none;} </STYLE>
<body>
<div class="confirmation">
    &nbsp;<span><a href="/">Tillbaka till startsida</a></span>
    <center><img src="../static/bekraftelse.jpg" th:src="${'/bekraftelse.jpg'}"></center>
</div>

<center>
    <p><span th:text="${myBooking.people}"></span></p>
    <p><span th:text="${myBooking.restaurant}"></span></p>
    <p><span th:text="${myBooking.restaurantLank}"></span></p>
    <p><span th:text="${myBooking.day}"></span></p>
    <p><span th:text="${myBooking.time}"></span></p>
    <p><span th:text="${myBooking.email}"></span></p>
    <p><span th:text="${myBooking.phonenumber}"></span></p>

</center>

</body>
</html>